:root {
  --kz-blue: #56ccff;
  --apple-white: #f5f5f7;
  --alt-white: #e5e5e5;
  --card-gray: #292929;
  --card-hover-gray: #1d1d1d;
  --btn-border-color: #424242;
  --btn-border-hover-color: #303030;
}
.light-theme {
  --btn-border-color: #b8b8b8;
  --btn-border-hover-color: #888888;
}
html {
  scroll-behavior: smooth;
}
::-webkit-scrollbar {
  width: 0.5em;
}
::-webkit-scrollbar-track {
  background: #000000;
}
::-webkit-scrollbar-thumb {
  background: #56ccff;
}
::-webkit-scrollbar-thumb:hover {
  background: #34a6d6;
}
.ttt {
  position: fixed;
  background-color: #42424280;
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  color: var(--kz-blue);
  font-size: 30px;
  text-align: center;
  padding: 10px 14px 10px 14px;
  border-radius: 80px;
  border-style: solid;
  border-width: 2px;
  border-color: var(--btn-border-color);
  bottom: 30px;
  right: 30px;
  box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.8);
  transition: all 300ms !important;
  z-index: 1;
}
.ttt:hover {
  background-color: #303030b4;
  box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.2);
  text-shadow: 0 0 2px #000000;
}
.ttt:hover.fa-solid,
.swmode:hover.fa-solid {
  color: #f5f5f7;
  cursor: pointer;
}
.swmode {
  position: fixed;
  background-color: rgba(41, 41, 41, 0.5);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  color: var(--kz-blue);
  font-size: 30px;
  text-align: center;
  padding: 10px 10px;
  border-radius: 80px;
  border-style: solid;
  border-width: 2px;
  border-color: var(--btn-border-color);
  bottom: 100px;
  right: 30px;
  box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.8);
  transition: all 300ms !important;
  z-index: 1;
}
.swmode:hover {
  background-color: rgba(255, 255, 255, 0.125);
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
  text-shadow: 0 0 2px #000000;
}
.lang-th {
  font-family: Inter, Arial, sans-serif;
  font-weight: 800;
  font-size: 18.1px;
  color: var(--kz-blue);
  position: fixed;
  background-color: #42424280;
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  text-align: center;
  padding: 14px 13px 14px 13px;
  border-radius: 100px;
  border-style: solid;
  border-width: 2px;
  border-color: var(--btn-border-color);
  bottom: 30px;
  left: 30px;
  box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.8);
  transition: 200ms;
  z-index: 1;
}
.lang-th:hover {
  background-color: #303030b4;
  color: #f5f5f7;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
  text-shadow: 0 0 2px #000000;
  border-color: var(--btn-border-hover-color);
}
.lang-en {
  font-family: Inter, Arial, sans-serif;
  font-weight: 800;
  font-size: 18.1px;
  color: #56ccff;
  position: fixed;
  background-color: #42424280;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  text-align: center;
  padding: 14px 14px 14px 14px;
  border-radius: 100px;
  border-style: none;
  bottom: 30px;
  left: 30px;
  box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.8);
  transition: 200ms;
  z-index: 1;
}
.lang-en:hover {
  background-color: #303030b4;
  color: #f5f5f7;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
  text-shadow: 0 0 2px #000000;
  border-color: var(--btn-border-hover-color);
}
.fa-solid,
.fa-brands,
.fa-solid:link,
.fa-brands:link,
.fa-solid:visited,
.fa-brands:visited {
  text-decoration: none;
}
@media all and (max-width: 800px) {
  .ttt {
    bottom: 25px;
    right: 25px;
  }
  .swmode {
    bottom: 95px;
    right: 25px;
  }
}
@media all and (max-width: 600px) {
  .ttt {
    bottom: 20px;
    right: 20px;
  }
  .swmode {
    bottom: 85px;
    right: 20px;
  }
}
@media all and (max-width: 800px) {
  .lang-en,
  .lang-th {
    bottom: 25px;
    left: 25px;
  }
}
@media all and (max-width: 600px) {
  .lang-en,
  .lang-th {
    bottom: 20px;
    left: 20px;
  }
}
