::-webkit-scrollbar {
  width: 0.5em;
}
::-webkit-scrollbar-track {
  background: #000000;
}
::-webkit-scrollbar-thumb {
  background: #56ccff;
}
::-webkit-scrollbar-thumb:hover {
  background: #34a6d6;
}
.kz-info {
  display: flex;
  justify-content: space-evenly;
  margin-top: 50px;
}
.g-kz-info {
  display: inline-block;
  background-color: #292929;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  padding: 18px 18px 18px 18px;
  border-radius: 18px;
  margin-bottom: 20px;
  margin-left: 8px;
  margin-right: 8px;
  width: 600px;
}
.profile-head-grid {
  display: flex;
  grid-template-columns: 100px 1fr;
  align-items: top;
}
.profile-img {
  width: 100px;
  height: 100px;
  border-radius: 75px;
  object-fit: cover;
  object-position: center;
  transition: all 200ms;
}
.profile-img:hover {
  transform: scale(1.05);
  -webkit-transform: scale(1.05);
}
.g-profile-name {
  display: flex;
  flex-direction: column;
}
.profile-name {
  font-family: Inter, Arial, sans-serif;
  font-weight: bold;
  font-size: 37px;
  color: #ffffff;
  margin-bottom: 8px;
  margin-left: 20px;
}
.profile-desc {
  display: inline-block;
  font-family: Inter, Arial, sans-serif;
  font-weight: normal;
  font-size: 16px;
  color: #888888;
  margin-left: 20px;
}
.g-sns,
.g-mp,
.mp-me {
  font-family: Inter, Arial, sans-serif;
  color: #ffffff;
  margin-left: 8px;
  margin-right: 8px;
}
.head-list {
  display: flex;
  justify-content: center;
  font-family: Inter, Arial, sans-serif;
  color: #ffffff;
  font-size: 20px;
  font-weight: bold;
  margin-top: 32px;
  margin-bottom: 12px;
}
.sns-email,
.sns-phone,
.sns-fb,
.sns-li,
.sns-ig,
.sns-tw,
.sns-yt,
.sns-dc,
.mp,
.mp-me {
  display: block;
  width: 1fr;
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
  padding: 12px 12px 12px 12px;
  border: none;
  border-radius: 6px;
  font-weight: 600;
  font-size: 16px;
  transition: color, background-color 200ms;
  text-align: center;
  margin-bottom: 10px;
  color: white;
  text-decoration: none;
  box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.25);
}
.mp,
.mp-me,
.mp > .fa-white,
.mp-me > .fa-white {
  color: #000000 !important;
}
.sns-email:hover,
.sns-phone:hover,
.sns-fb:hover,
.sns-li:hover,
.sns-ig:hover,
.sns-tw:hover,
.sns-yt:hover,
.sns-dc:hover,
.mp:hover,
.mp-me:hover {
  box-shadow: 0px 0px 14px rgba(0, 0, 0, 1);
}
.sns-email:active,
.sns-phone:active,
.sns-fb:active,
.sns-li:active,
.sns-ig:active,
.sns-tw:active,
.sns-yt:active,
.sns-dc:active,
.mp:active,
.mp-me:active {
  border-width: 3px;
  border: solid;
  padding: 9px 9px 9px 9px;
}
.sns-email,
.sns-phone,
.sns-tw,
.sns-fb,
.sns-li,
.sns-dc,
.sns-ig,
.sns-yt {
  background-color: #292929;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sns-email:hover {
  background-color: #1d70f1;
}
.sns-email:active {
  border-color: #1d70f1;
  background-color: #161617;
}
.sns-phone:hover {
  background-color: #0bbc29;
}
.sns-phone:active {
  border-color: #0bbc29;
  background-color: #161617;
}
.sns-fb:hover {
  background-color: #2076ff;
}
.sns-fb:active {
  border-color: #2076ff;
  background-color: #161617;
}
.sns-li:hover {
  background-color: #0a66c2;
}
.sns-li:active {
  border-color: #0a66c2;
  background-color: #161617;
}
.sns-ig:hover {
  background-color: #9a2ecb;
}
.sns-ig:active {
  border-color: #9a2ecb;
  background-color: #161617;
}
.sns-tw:hover {
  background-color: #1d9bf0;
}
.sns-tw:active {
  border-color: #1d9bf0;
  background-color: #161617;
}
.sns-yt:hover {
  background-color: #e11d1d;
}
.sns-yt:active {
  border-color: #e11d1d;
  background-color: #161617;
}
.sns-dc:hover {
  background-color: #5865f2;
}
.sns-dc:active {
  border-color: #5865f2;
  background-color: #161617;
}
.g-mp {
  font-family: Inter, Arial, sans-serif;
  color: #ffffff;
}
.mp {
  background-color: #56ccff;
  margin-top: 20px;
}
.mp-me {
  background-color: #56ccff;
}
.mp:hover,
.mp-me:hover {
  background-color: #3ba5d3;
}
.mp:active,
.mp-me:active {
  border-color: #56ccff;
  background-color: #161617;
  color: #ffffff !important;
}
.mp:active > .fa-solid,
.mp-me:active > .fa-solid {
  color: #ffffff !important;
  transition: all 0ms !important;
}
.fa-solid,
.fa-brands,
.fa-solid:link,
.fa-brands:link,
.fa-solid:visited,
.fa-brands:visited {
  text-decoration: none;
  color: #56ccff;
  transition: color 200ms;
}
.fa-white {
  color: #ffffff;
  margin-right: 8px;
}
.smalltext {
  display: flex;
  justify-content: center;
  text-align: center;
  color: #ffffff;
  font-family: Inter, Arial, sans-serif;
  font-weight: normal;
  font-size: 12px;
  margin-top: 50px;
}

@media all and (max-width: 730px) {
  .kz-info {
    margin-top: 8px;
  }
}
@media all and (max-width: 700px) {
  .profile-name {
    font-size: 32px;
  }
  .profile-desc {
    font-size: 14px;
  }
}
@media all and (max-width: 400px) {
  .sns-email,
  .sns-phone,
  .sns-fb,
  .sns-li,
  .sns-ig,
  .sns-tw,
  .sns-yt,
  .sns-dc,
  .mp,
  .mp-me {
    font-size: 14px;
  }
}
