h3,
h2 {
  margin-right: 18px !important;
}
h3 {
  padding: 18px 0 18px 18px;
  margin: 0 0 !important;
  font-size: 20px !important;
  font-family: Noto Sans Thai;
  font-weight: 600;
  background-color: #424242;
  border-top-left-radius: 14px;
  border-top-right-radius: 14px;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.3);
}
.center-card {
  display: flex;
  justify-content: center;
}
.card {
  display: inline-block;
  background-color: #292929;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  padding: 18px 18px 18px 18px;
  border-radius: 14px;
  margin: 0px 8px 20px 8px;
  width: 800px;
}
.invis-card {
  display: inline-block;
  border-radius: 14px;
  margin: 0px 8px 20px 8px;
  width: 800px;
}
.nopadding {
  padding: 0 !important;
}
.nobtmmargin {
  margin-bottom: 0 !important;
}
.mainhr {
  height: 1px;
  background-color: #373737;
  border-style: none;
  margin: 0;
}
.item {
  margin: 18px 18px;
  display: flex;
  justify-content: space-between;
  column-gap: 16px;
}
.course-info {
}
.course-status {
  align-content: center;
}
.stt-open,
.stt-close,
.stt-unk {
  font-family: Inter, Arial, sans-serif;
  color: #111111;
  font-weight: 600;
  font-size: 14px;
  padding: 8px 22px;
  border-radius: 20px;
}
.stt-open {
  background-color: #0dcb67;
}
.stt-close {
  background-color: #ff2a29;
}
.stt-unk {
  background-color: #888888;
  white-space: nowrap;
}
.multisec {
  display: flex;
  flex-direction: column;
}
.type-minor,
.type-free {
  font-family: Inter, Arial, sans-serif;
  color: #f5f5f7;
  font-weight: 600;
  font-size: 14px;
  padding: 5px 16px;
  border-radius: 20px;
  margin-right: 8px;
}
.type-minor {
  background-color: #7f30bd;
}
.type-free {
  background-color: #2456a1;
}
.course-name {
  display: flex;
}
.title {
  font-family: Inter, Arial, sans-serif;
  color: #56ccff;
  font-weight: 600;
  font-size: 16px;
}
.g-info {
  display: inline-block;
  margin-top: 8px;
}
.info {
  font-family: Inter, Arial, sans-serif;
  color: #f5f5f7;
  font-weight: 500;
  font-size: 12px;
  margin-right: 8px;
}
.end {
  margin: 18px 0 18px 18px;
  font-family: Noto Sans Thai;
  font-weight: 400;
  text-align: center;
  background-color: transparent;
  box-shadow: none;
}
