html {
  scroll-behavior: smooth;
}
::-webkit-scrollbar {
  width: 0.5em;
}
::-webkit-scrollbar-track {
  background: #000000;
}
::-webkit-scrollbar-thumb {
  background: #56ccff;
}
::-webkit-scrollbar-thumb:hover {
  background: #34a6d6;
}
.lang-en {
  font-family: Inter, Arial, sans-serif;
  font-weight: 800;
  font-size: 18.1px;
  color: #56ccff;
  position: fixed;
  background-color: #292929;
  text-align: center;
  padding: 14px 14px 14px 14px;
  border-radius: 100px;
  border-style: none;
  bottom: 30px;
  left: 30px;
  box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.5);
  transition: 200ms;
  z-index: 1;
}
.lang-en:hover {
  background-color: #1f1f1f;
  color: #34a6d6;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.9);
}
.ttt {
  position: fixed;
  background-color: #292929;
  font-size: 30px;
  text-align: center;
  padding: 10px 14px 10px 14px;
  border-radius: 80px;
  border-style: none;
  bottom: 30px;
  right: 30px;
  box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.5);
  transition: all 200ms;
  z-index: 1;
}
.ttt:hover {
  background-color: #1f1f1f;
  color: #34a6d6;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.9);
}
.g-bh {
  display: flex;
  justify-content: center;
  margin: 48px 8px 0px 8px;
  column-gap: 16px;
  row-gap: 16px;
}
.bh {
  padding: 10px 16px 8px 16px;
  border: none;
  border-radius: 24px;
  font-size: 16px;
  text-decoration: none;
  transition: box-shadow, color, background-color 200ms;
  text-align: center;
  font-family: Inter, Arial, sans-serif;
  font-weight: bold;
  color: #111111;
  background-color: #56ccff;
  box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.1);
}
.bh:hover {
  background-color: #34a6d6;
  color: #111111;
  box-shadow: 0px 0px 14px rgba(0, 0, 0, 1);
}
.bh:active {
  border-width: 3px;
  border: solid;
  padding: 7px 13px 5px 13px;
  color: #f5f5f7;
  border-color: #56ccff;
  background-color: #161617;
}
.sns-button {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  row-gap: 16px;
  column-gap: 16px;
  margin: 24px 8px 40px 8px;
}
.twt-button,
.fb-button,
.li-button,
.dc-button,
.ig-button,
.yt-button {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 16px;
  padding-right: 16px;
  border-radius: 20px;
  border: none;
  font-family: Inter, Arial, sans-serif;
  font-weight: bold;
  font-size: 16px;
  text-decoration: none;
  transition: color, background-color 200ms;
  text-align: center;
}
.twt-button:hover,
.fb-button:hover,
.li-button:hover,
.dc-button:hover,
.ig-button:hover,
.yt-button:hover {
  box-shadow: 0px 0px 14px rgba(0, 0, 0, 1);
  color: #d2d2d3;
}
.twt-button:hover > .fa-brands,
.fb-button:hover > .fa-brands,
.li-button:hover > .fa-brands,
.dc-button:hover > .fa-brands,
.ig-button:hover > .fa-brands,
.yt-button:hover > .fa-brands {
  color: #d2d2d3;
  transition: all 0ms !important;
}
.twt-button:active,
.fb-button:active,
.li-button:active,
.dc-button:active,
.ig-button:active,
.yt-button:active {
  border: solid;
  color: #f5f5f7;
  border-width: 3px;
  padding: 7px 13px 7px 13px;
}
.twt-button {
  background-color: #1d9bf0;
  color: #f5f5f7;
}
.twt-button:hover {
  background-color: #157bbe;
}
.twt-button:active {
  border-color: #1d9bf0;
  background-color: #161617;
}
.fb-button {
  background-color: #2076ff;
  color: #f5f5f7;
}
.fb-button:hover {
  background-color: #135bce;
}
.fb-button:active {
  border-color: #2076ff;
  background-color: #161617;
}
.li-button {
  background-color: #0a66c2;
  color: #f5f5f7;
}
.li-button:hover {
  background-color: #065099;
}
.li-button:active {
  border-color: #0a66c2;
  background-color: #161617;
}
.dc-button {
  background-color: #5865f2;
  color: #f5f5f7;
}
.dc-button:hover {
  background-color: #4953c2;
}
.dc-button:active {
  border-color: #5865f2;
  background-color: #161617;
}
.ig-button {
  background-color: #9a2ecb;
  color: #f5f5f7;
}
.ig-button:hover {
  background-color: #7a25a1;
}
.ig-button:active {
  border-color: #9a2ecb;
  background-color: #161617;
}
.yt-button {
  background-color: #e11d1d;
  color: #f5f5f7;
}
.yt-button:hover {
  background-color: #b41717;
}
.yt-button:active {
  border-color: #e11d1d;
  background-color: #161617;
}
.g-jump {
  display: flex;
  justify-content: center;
  margin: 0px 8px 40px 8px;
}
.jump-head {
  color: #f5f5f7;
  font-family: Noto Sans Thai, Arial, sans-serif;
  font-weight: bold;
  font-size: 22px;
  margin-bottom: 24px;
  text-align: center;
}
.g-jump-btn {
  display: flex;
  justify-content: center;
  column-gap: 16px;
  row-gap: 16px;
  flex-wrap: wrap;
  margin: 0px 400px 0px 400px;
}
.jump {
  padding: 8px 14px 7px 14px;
  border: solid;
  border-radius: 24px;
  border-width: 2px;
  border-color: #56ccff;
  font-size: 16px;
  text-decoration: none;
  transition: box-shadow, color, background-color 200ms;
  text-align: center;
  font-family: Noto Sans Thai, Arial, sans-serif;
  font-weight: bold;
  color: #f5f5f7;
  background-color: #111111;
  box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.1);
}
.jump:hover {
  background-color: #56ccff;
  color: #111111;
  box-shadow: 0px 0px 14px rgba(0, 0, 0, 1);
}
.jump:active {
  border: none;
  padding: 10px 16px 9px 16px;
  background-color: #f5f5f7;
  transition: all 0ms !important;
}
.jump:hover > .fa-wtb {
  color: #000000;
}
.kz-info {
  display: flex;
  justify-content: space-evenly;
}
.g-kz-info {
  display: inline-block;
  background-color: #292929;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  padding: 18px 18px 18px 18px;
  border-radius: 14px;
  margin-bottom: 20px;
  margin-left: 8px;
  margin-right: 8px;
  width: 900px;
}
.g-kz-info-nm {
  margin-bottom: 0px;
}
.g-kz-info-no-bg,
.g-kz-info-no-bg-nm {
  display: inline-block;
  padding: 18px 18px 18px 18px;
  border-radius: 18px;
  margin-left: 8px;
  margin-right: 8px;
  width: 900px;
}
.g-kz-info-no-bg {
  margin-bottom: 20px;
}
.profile-head-grid {
  display: flex;
  grid-template-columns: 100px 1fr;
  align-items: top;
}
.profile-img {
  width: 100px;
  height: 100px;
  border-radius: 75px;
  object-fit: cover;
  object-position: center;
  transition: all 200ms;
}
.profile-img:hover {
  transform: scale(1.05);
  -webkit-transform: scale(1.05);
}
.g-profile-name {
  display: flex;
  flex-direction: column;
}
.profile-name,
.kz-info-head,
.kz-info-t,
.kz-info-data,
.kz-info-data-xm {
  font-family: Inter, Arial, sans-serif;
  color: #f5f5f7;
}
.profile-name {
  font-weight: bold;
  font-size: 37px;
  margin-bottom: 8px;
  margin-left: 20px;
  line-height: 1.3;
}
.profile-desc {
  display: inline-block;
  font-family: Noto Sans Thai, Arial, sans-serif;
  font-weight: normal;
  font-size: 16px;
  color: #888888;
  margin-left: 20px;
}
.th {
  font-family: Noto Sans Thai, Arial, sans-serif !important;
}
.kz-info-head {
  display: block;
  font-weight: 700;
  font-size: 37px;
  margin-bottom: 10px;
  line-height: 1.3;
}
.kz-info-head-t {
  display: block;
  font-weight: 700;
  font-size: 24px;
  margin-bottom: 10px;
}
.kz-info-data {
  display: block;
  font-weight: 400;
  font-size: 16px;
  text-decoration: none;
  margin-bottom: 8px;
}
.xm {
  margin-bottom: 10px;
  margin-top: 6px;
}
.kz-info-data-th {
  font-family: Noto Sans Thai, Arial, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 0.8;
  color: #f5f5f7;
  text-decoration: none;
}
.info-data-sh {
  font-family: Inter, Arial, sans-serif;
  font-weight: 800;
  font-size: 22px;
  line-height: 1.4;
  color: #56ccff;
  text-decoration: none;
}
.blue-hr {
  border-radius: 5px;
  height: 3px;
  background-color: #56ccff;
  border-style: none;
  margin-top: 30px;
  margin-bottom: 30px;
}
.tech-skills-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
  column-gap: 30px;
  row-gap: 6px;
}

/*the new photo responsive method*/

.photo-container {
  display: flex;
  justify-content: center;
  column-gap: 5px;
  margin-bottom: 5px;
}
.photo-container.left {
  justify-content: left;
}
.photo-placement {
  display: flex;
  /*transition: all 300ms;*/
}
.photo-small,
.photo-medium,
.photo-large {
  object-fit: cover;
  object-position: center;
  border-radius: 6px;
  height: 100%;
  width: 100%;
}
.photo-small {
  max-height: 150px;
  max-width: 300px;
}
.photo-small.sq {
  max-height: 150px;
  max-width: 150px;
}
.photo-medium {
  max-height: 300px;
  max-width: 600px;
}
.photo-medium.t {
  max-height: 450px;
  max-width: 225px;
}
.photo-medium.sq {
  max-height: 300px;
  max-width: 300px;
}
.photo-large {
  max-height: 450px;
  max-width: 900px;
}
.photo-large.sq {
  max-height: 500px;
  max-width: 500px;
}
.photo-xlarge {
  object-fit: cover;
  object-position: center;
  border-radius: 6px;
  height: 100%;
  width: 100%;
  max-width: 900px;
}
@media all and (max-width: 1764px) {
  .g-jump-btn {
    margin: 0px 350px 0px 350px;
  }
}
@media all and (max-width: 1664px) {
  .g-jump-btn {
    margin: 0px 300px 0px 300px;
  }
}
@media all and (max-width: 1564px) {
  .g-jump-btn {
    margin: 0px 250px 0px 250px;
  }
}
@media all and (max-width: 1464px) {
  .g-jump-btn {
    margin: 0px 200px 0px 200px;
  }
}
@media all and (max-width: 1364px) {
  .g-jump-btn {
    margin: 0px 150px 0px 150px;
  }
}
@media all and (max-width: 1264px) {
  .g-jump-btn {
    margin: 0px 100px 0px 100px;
  }
}
@media all and (max-width: 1164px) {
  .g-jump-btn {
    margin: 0px 50px 0px 50px;
  }
}
@media all and (max-width: 1064px) {
  .g-jump-btn {
    margin: 0px 8px 0px 8px;
  }
}
@media all and (max-width: 842px) {
  .fp-iframe {
    height: 500px !important;
  }
}
@media all and (max-width: 700px) {
  .bh,
  .jump,
  .twt-button,
  .fb-button,
  .li-button,
  .dc-button,
  .ig-button,
  .yt-button {
    font-size: 14px;
  }
  .fp-iframe {
    height: 450px !important;
  }
}
@media all and (max-width: 500px) {
  .profile-name,
  .kz-info-head {
    font-size: 32px;
  }
  .info-data-sh {
    font-size: 20px;
  }
  .profile-desc,
  .kz-info-data,
  .kz-info-data-end {
    font-size: 14px !important;
  }
}
@media all and (max-width: 478px) {
  .fp-iframe {
    height: 520px !important;
  }
}
@media all and (max-width: 400px) {
  .profile-name,
  .kz-info-head {
    font-size: 28px;
  }
}

/*end of text responsive*/

.yt-vid {
  margin-bottom: 20px;
}
.yt-vid,
.yt-vid-nm {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
  height: 0;
  border-radius: 10px;
  margin-bottom: 2px;
}
.yt-vid iframe,
.yt-vid-nm iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
.data-link:link,
.data-link:visited {
  color: #56ccff;
  transition: 200ms;
}
.data-link:hover {
  color: #34a6d6;
}
.kz-info-data:link,
.kz-info-data:visited {
  color: #f5f5f7;
  text-decoration: none;
}
.kz-info-data-nm,
.kz-info-data-end {
  display: block;
  font-family: Inter, Arial, sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #f5f5f7;
}
.technical-skills-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 8px;
  width: 210px;
}
.technical-skills-list-end {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 210px;
}
.program-icon {
  width: 36px;
  margin-right: 12px;
}
.fa-solid,
.fa-brands,
.fa-solid:link,
.fa-brands:link,
.fa-solid:visited,
.fa-brands:visited {
  text-decoration: none;
  color: #56ccff;
  transition: color 200ms;
}
.fa-solid:hover,
.fa-brands:hover {
  color: #34a6d6;
}
.fa-white {
  color: #f5f5f7;
  margin-right: 4px;
}
.fa-white:hover {
  color: #f5f5f7;
}
.fa-black {
  color: #111111;
  margin-right: 4px;
  transition: color 0ms !important;
}
.fa-black:hover {
  color: #111111;
}
.fa-wtb {
  color: #f5f5f7;
  margin-right: 4px;
  transition: all 0ms;
}
.fa-wtb:hover {
  color: #000000;
}
.bh:active > .fa-black {
  color: #f5f5f7;
}
.big-dot {
  font-family: Inter, Arial, sans-serif;
  font-weight: 900;
  font-size: 16px;
}
.g-resume {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  margin-left: 8px;
  margin-right: 8px;
}
.resume {
  width: 100%;
  max-width: 600px;
  height: 1fr;
  border-radius: 10px;
}
