.author {
  display: block;
  font-family: Inter, Arial, sans-serif;
  color: #ffffff;
  font-weight: 400;
  font-size: 16px;
  margin-top: 0px;
  margin-bottom: 10px;
  text-align: center;
  margin: 0 8px 0 8px;
}
.author {
  font-weight: 600;
}
.name {
  display: block;
  font-family: Inter, Arial, sans-serif;
  color: #56ccff;
  font-weight: 700;
  font-size: 37px;
  margin-top: 0px;
  margin-bottom: 10px;
  text-align: center;
}
.center-card {
  display: flex;
  justify-content: center;
}
.p-text {
  display: block;
  font-family: sans-serif;
  color: #ffffff;
  font-weight: 400;
  font-size: 18px;
  text-align: left;
  margin: 0 8px 18px 8px;
  line-height: 2;
  margin-bottom: 10px;
}
.card {
  display: inline-block;
  background-color: #292929;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  padding: 18px 18px 18px 18px;
  border-radius: 14px;
  margin: 0px 8px 20px 8px;
  width: 800px;
}
.nopadding {
  padding: 0 !important;
}
.invis-card {
  display: inline-block;
  border-radius: 14px;
  margin: 0px 8px 20px 8px;
  width: 800px;
}
.blue-hr {
  border-radius: 5px;
  height: 3px;
  background-color: #56ccff;
  border-style: none;
  margin: 20px 0 20px;
}
.ch-hr {
  height: 1px;
  background-color: #373737;
  border-style: none;
  margin: 0;
}
.ch-name {
  font-family: Noto Sans Thai, Inter, Arial, sans-serif;
  color: #ffffff;
  font-weight: 600;
  font-size: 25px;
  text-align: center;
}
.pdfobject-container {
  height: 800px;
  width: 1200px;
  border: 1px solid #373737;
  color: #ffffff;
}
#my-pdf {
  font-family: Inter, Arial, sans-serif;
  color: #ffffff;
}
