RewriteEngine On

RewriteCond %{THE_REQUEST} /([^.]+)\.html [NC]
RewriteRule ^ /%1 [NC,L,R]

RewriteCond %{REQUEST_FILENAME}.html -f
RewriteRule ^ %{REQUEST_URI}.html [NC,L]

RewriteRule ^/$ index.html
RewriteRule ^me/$ /html/me.html
RewriteRule ^me$ /html/me.html
RewriteRule ^th/$ /index_th.html
RewriteRule ^th$ /index_th.html
RewriteRule ^th/me/$ /html/me_th.html
RewriteRule ^th/me$ /html/me_th.html
RewriteRule ^card/$ /html/card.html
RewriteRule ^card$ /html/card.html
RewriteRule ^link/$ /html/link.html
RewriteRule ^link$ /html/link.html
RewriteRule ^mymidnight/$ /html/my_midnight.html
RewriteRule ^mymidnight$ /html/my_midnight.html
RewriteRule ^intern/$ /html/kkuicinterncoopguide.html
RewriteRule ^intern$ /html/kkuicinterncoopguide.html
RewriteRule ^kkuiccourse/$ /html/kkuiccourse.html
RewriteRule ^kkuiccourse$ /html/kkuiccourse.html
RewriteRule ^love/$ /html//love404.html
RewriteRule ^love$ /html//love404.html
RewriteRule ^404/$ /html/404.html
RewriteRule ^404$ /html/404.html
RewriteRule ^403/$ /html/403.html
RewriteRule ^403$ /html/403.html

RewriteRule ^ttotwkatfp/$ /ttotwkatfp/ttotwkatfp.html
RewriteRule ^ttotwkatfp$ /ttotwkatfp/ttotwkatfp.html

RewriteRule ^fs2/$ /frozenserver2/html/fs2.html
RewriteRule ^fs2$ /frozenserver2/html/fs2.html

ErrorDocument 404 /html/404.html
ErrorDocument 403 /html/403.html

Redirect /discord https://discord.gg/MemFf9WyCV
Redirect /fb https://facebook.com/kritzy08

Redirect /ttb2023-1 https://docs.google.com/spreadsheets/d/1xpki9dWfYuxkn6DqrlugvF5noZ-ktAhb
Redirect /ttb2023-2 https://docs.google.com/spreadsheets/u/0/d/1nBi0CWdtPG_mqwO0_YqsXEw3QR-l-ILULrkiiTic2Gc/htmlview#gid=106940637
Redirect /ttb2024-1 https://docs.google.com/spreadsheets/d/1F-Gxg4uCkuivPugho24HTzQKXGQWLHytHo-lqDbZLeo/edit?usp=sharing
Redirect /calendar2024 https://www.ic.kku.ac.th/wp-content/uploads/2024/05/KKUIC-Academic-Calendar-2024-%E2%80%93-Undergraduate-Degree-ENG.pdf
Redirect /hb2023 https://www.ic.kku.ac.th/wp-content/uploads/2023/08/KKUICStudentHandbook2023-updated-31-Aug-2023.pdf
Redirect /sheout-mockup https://www.figma.com/proto/2qNM5w3WEiPIBLChSxJFnH/SHEOUT?type=design&node-id=61-2&t=NxpAqy5EUowYYMTS-1&scaling=scale-down&page-id=0%3A1&starting-point-node-id=61%3A2&mode=design
Redirect /ttotwkatfpdoc https://docs.google.com/document/d/1AK6HYn5_mKSbq9qLcJgfpOQx1834A2b4okX8Z7wHRvg/edit?usp=sharing
Redirect /ttotwkatfpraw https://www.readawrite.com/a/ffbec068214cb538eff7d5641e948276
Redirect /200yrsdoc https://docs.google.com/document/d/1vS7VcMIL_6PUfpYrPvsiHGxI7_sLA5g8e-6fnHH8Vz4/edit?usp=sharing
Redirect /hb2024 https://www.ic.kku.ac.th/wp-content/uploads/2024/09/KKUICStudent-Handbook-2024.pdf

Redirect /hbd https://youtu.be/FXgBBsbKwMI?si=-2itD4hHLv8gpZyO&t=45

Options -Indexes

# Options +FollowSymlinks

# Options +Indexes

# IndexOptions FancyIndexing

# IndexOptions FoldersFirst

# IndexOptions NameWidth=_ DescriptionWidth=_

# DirectoryIndex .index.php .index.html index.php index.html .redirect.html redirect.html landing.html landing.php .landing.html .landing.php .redirect.php redirect.php .404.html
