RewriteEngine On

RewriteCond %{THE_REQUEST} /([^.]+)\.html [NC]
RewriteRule ^ /%1 [NC,L,R]

RewriteCond %{REQUEST_FILENAME}.html -f
RewriteRule ^ %{REQUEST_URI}.html [NC,L]

RewriteRule ^/$ index.html
RewriteRule ^me/?$ /html/me.html
RewriteRule ^th/?$ /index-th.html
RewriteRule ^th/me/?$ /html/me_th.html
RewriteRule ^card/?$ /html/card.html
RewriteRule ^link/?$ /html/link.html
RewriteRule ^mymidnight/?$ /html/my_midnight.html
RewriteRule ^intern/?$ /html/kkuicinterncoopguide.html
RewriteRule ^kkuiccourse/?$ /html/kkuiccourse.html
RewriteRule ^love/?$ /html//love404.html
RewriteRule ^404/?$ /html/404.html
RewriteRule ^403/?$ /html/403.html

RewriteRule ^ttotwkatfp/?$ /ttotwkatfp/ttotwkatfp.html
RewriteRule ^200yrs/?$ /200yrs/200yrs.html
RewriteRule ^mynextdoorneighbor/?$ /mynextdoorneighbor/mynextdoorneighbor.html
RewriteRule ^mnnexample/?$ /mynextdoorneighbor/Example%20-%20My%20Next-door%20Neighbor.pdf
Redirect /mnnexample https://812003.xyz/mynextdoorneighbor/Example%20-%20My%20Next-door%20Neighbor.pdf
RewriteRule ^fs2/?$ /frozenserver2/html/fs2.html
RewriteRule ^fs2map/?$ /frozenserver2/fs2map
RewriteRule ^lovster/?$ /lovster/lovster.html
RewriteRule ^untiltheendoftime/?$ /untiltheendoftime/untiltheendoftime.html

RewriteRule ^cooppaper/?$ /files/pdf/Process_of_making_visual_design_in_the_3DEXPERIENCE_Works_Innovation_Day_2025_event.pdf
Redirect /coopslide https://www.canva.com/design/DAGbiEMAa4c/jwupmvxMic65SYiwjCdkDA/edit
Redirect /cooplink https://drive.google.com/drive/u/1/folders/1-2sSW7y3RTSXQnIYJR8BisIIQ3_myzjm
Redirect /เบิกงบ /files/pdf/budget_request_form.pdf
Redirect /เบิกงบรอบสอง /files/pdf/budget_request_form_round2.pdf

ErrorDocument 404 /html/404.html
ErrorDocument 403 /html/403.html

Redirect /discord https://discord.gg/MemFf9WyCV
Redirect /fb https://facebook.com/kritzy08
Redirect /twt https://twitter.com/kritzy_8
Redirect /ig https://instagram.com/kritzy_8
Redirect /yt https://youtube.com/@kritzy_8
Redirect /raw https://kritzy_8.readawrite.com

Redirect /ttb2023-1 https://docs.google.com/spreadsheets/d/1xpki9dWfYuxkn6DqrlugvF5noZ-ktAhb
Redirect /ttb2023-2 https://docs.google.com/spreadsheets/u/0/d/1nBi0CWdtPG_mqwO0_YqsXEw3QR-l-ILULrkiiTic2Gc/htmlview#gid=106940637
Redirect /ttb2024-1 https://docs.google.com/spreadsheets/d/1F-Gxg4uCkuivPugho24HTzQKXGQWLHytHo-lqDbZLeo/edit?usp=sharing
Redirect /ttb2024-2 https://docs.google.com/spreadsheets/d/1tu3tkV2SSkvHjHzmw_oVNe7Wh5JQWRBD_noqiL0Jw-s/edit?gid=0#gid=0
Redirect /calendar2024 https://www.ic.kku.ac.th/wp-content/uploads/2024/12/KKUIC-Academic-Calendar-2024-%E2%80%93-Undergraduate-Degree-ENG-Issued-on-6-Dec-2024.pdf
Redirect /hb2023 https://www.ic.kku.ac.th/wp-content/uploads/2023/08/KKUICStudentHandbook2023-updated-31-Aug-2023.pdf
Redirect /hb2024 https://www.ic.kku.ac.th/wp-content/uploads/2024/09/KKUICStudent-Handbook-2024.pdf
Redirect /sheout-mockup https://www.figma.com/proto/2qNM5w3WEiPIBLChSxJFnH/SHEOUT?type=design&node-id=61-2&t=NxpAqy5EUowYYMTS-1&scaling=scale-down&page-id=0%3A1&starting-point-node-id=61%3A2&mode=design
Redirect /seminarfinance https://drive.google.com/drive/folders/10XM-HKzg4R6UgBgWN3ia4m0T3WYDdBSL?usp=sharing

Redirect /ttotwkatfpdoc https://docs.google.com/document/d/1AK6HYn5_mKSbq9qLcJgfpOQx1834A2b4okX8Z7wHRvg/edit?usp=sharing
Redirect /ttotwkatfpraw https://www.readawrite.com/a/ffbec068214cb538eff7d5641e948276
Redirect /200yrsdoc https://docs.google.com/document/d/1vS7VcMIL_6PUfpYrPvsiHGxI7_sLA5g8e-6fnHH8Vz4/edit?usp=sharing
Redirect /mnndoc https://docs.google.com/document/d/1HyJvv20sXfvqbnxDQsHDdDV-w4zBE_HplJJKcLHj9sA/edit?usp=sharing
Redirect /mnn https://812003.xyz/mynextdoorneighbor
Redirect /lovsterdoc https://docs.google.com/document/d/1Dl-gPPV9BVbiHOHE1wAiglPt9P21SZoNPXGHJNL85pA/edit?usp=sharing
Redirect /lovsterraw https://www.readawrite.com/a/aca30166b840f1726c680c3311e51511
Redirect /untiltheendoftimedoc https://docs.google.com/document/d/1Nci7q3WjK8u9vR9445Y9RwabIo3bZ20MPHTCH_Q2Kes/edit?usp=sharing
Redirect /untiltheendoftimeraw https://www.readawrite.com/a/c0253a5b10ec99ee2847db20821d1a21

Redirect /hbd https://youtu.be/FXgBBsbKwMI?si=-2itD4hHLv8gpZyO&t=45
RewriteRule ^valentine/?$ /html/valentine.html

Options -Indexes

# Options +FollowSymlinks

# Options +Indexes

# IndexOptions FancyIndexing

# IndexOptions FoldersFirst

# IndexOptions NameWidth=_ DescriptionWidth=_

# DirectoryIndex .index.php .index.html index.php index.html .redirect.html redirect.html landing.html landing.php .landing.html .landing.php .redirect.php redirect.php .404.html
